body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

#wrapper{
    display: flex;
    flex-flow: column wrap;
    margin: auto;
    width: 95%;
    height: 350px;
    border: 1px solid black;
}

header{
    display: flex;
    flex-flow: row wrap;
}