.wrapper{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: white;
}

.slide{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 3fr 2fr 45px;
    grid-template-columns: 1fr 18fr 1fr;
    margin:0;
    padding: 0;
}

a{
    all: unset;
}

.img{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
}

.descripcion{
    display: grid;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    background-image: linear-gradient(to top, rgba(255,255,255,1), 75%, rgba(255,255,255,0));
}

.descripcion h6{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
    font-size: 2.5vw;
    align-self: center;
    overflow: hidden;
    white-space:break-spaces;
}

img{
    width: 100%;
    height: auto;
}

.left:hover, .right:hover{
    color:red;
}

.left{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    align-self: center;
    justify-self: end;
    cursor: pointer;
    font-size: 20px;
}

.right{
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
    align-self: center;
    justify-self: start;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
}

.autorCard{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
    padding-left: 15px;
    padding-right: 15px;
}

.vacio1, .vacio2, .vacio3{
    display: none;
}


@media only screen and (max-width: 800px){
    
}


@media only screen and (min-width: 800px){
    .slide{
        width: 800px;
        height: 420px;
        grid-template-rows: 20px 150px 150px 60px 40px;
        grid-template-columns: 133px 30px 340px 30px 267px;
    }

    .img{
        max-width: 100%;
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 6;
    }

    .descripcion{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 5;
        grid-column-end: 6;
        background-image: unset;
        background-color: grey;
    }

    .descripcion h6{
        color: white;
        padding-top: 0;
        font-size: 2vw;
    }

    img{
        width: 400px;
        height: 400px;
    }

    .left{
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 2;
        grid-column-end: 3;
    }
    
    .right{
        grid-row-start: 2;
        grid-row-end: 6;
        grid-column-start: 4;
        grid-column-end: 5;
    }

    .autorCard{
        align-self: stretch;
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 5;
        grid-column-end: 6;
        background-color: grey;
        color: white;
        border-top: 1px solid black;
        padding-top: 5px;
    }

    .vacio1, .vacio2, .vacio3{
        display: block;
        background-color: grey;
    }

    .vacio1{
        grid-row-start: 1;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .vacio2{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 2;
        grid-column-end: 5;
    }
    .vacio3{
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 5;
        grid-column-end: 6;
    }

    .vacio4, .vacio5{
        display: block;
        background-color: rgb(249,239,236);
    }

    .vacio4{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .vacio5{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 5;
        grid-column-end: 6;
    }
}  

@media only screen and (min-width: 1024px){

    .slide{
        width: 1024px;
        height: 420px;
        grid-template-rows: 20px 150px 150px 60px 40px;
        grid-template-columns: 208px 30px 340px 30px 416px;
    }

    .descripcion h6{
        font-size: 26px;
    }
    
    .autorCard{
        padding-top: 10px;
    }
    
}