.wrapper{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
}

.titulo{
    text-align: center;
    border-bottom: 1px solid rgb(60, 60, 60);
    margin-bottom: 20px;
}

.main{
    display: flex;
    flex-flow: row nowrap;
}

.lista{
    flex: 38%;
    display: flex;
    flex-flow: column nowrap;
}

.itemsLista{
    display: flex;
    flex-flow: column nowrap;
}

.card{
    flex: 60%;
    display: flex;
    flex-flow: column nowrap;
    border: solid 1px rgb(60, 60, 60);
}

.cardTitulo{
    background-color: grey;
}

.cardTitulo h4{
    color: white;
    text-transform: uppercase;
    padding-left: 20px;
}

.cardBody{
    display: flex;
    flex-flow: row nowrap;
}

.card img{
    width: 30px;
    height: 30px;
}