.wrapper{
    display: flex;
    flex-flow: row nowrap;
    max-height: 115px;
    margin-left:10px;
    margin-right: 10px;
    background-color: white;
    cursor: pointer;
}

.imgContainer{
    padding: 5px;
}

.imgContainer img{
    border-radius: 50%;
    max-width: 95px;
    height: auto;
    padding: 5px;
}

.info{
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    min-height: 0;
}

h4{
    font-size: 4vw;
    padding-bottom: 1vw;
}   

p{
    font-size: 3vw;
    overflow: hidden;
    white-space:break-spaces;
}

@media only screen and (max-width: 800px){
    
}


@media only screen and (min-width: 800px){


}  

@media only screen and (min-width: 1024px){
    
}