.wrapper{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background-color: white;
}

.receta{
    max-width: 100%;
    margin: 10px;
}

@media only screen and (max-width: 800px){
    
}


@media only screen and (min-width: 800px){


}  

@media only screen and (min-width: 1024px){
    .wrapper{
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}