.appfooter{
    display: flex;
    flex-flow: column wrap;
}
.socialNetworks{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.socialNetworks a{
    margin: 2px;
}
.extWebCard {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}