.wrapper{
    width: 100%;
    border: 0;
    margin: 0;
    position: relative;
}

.slideContainer{
    display: block;
    width: 100%;
}

.slideContainer img{
    height: auto;
    max-width: 100%;
}

.arrowLeft, .arrowRight {
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.arrowRight{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.tagImg {
    height: 25%;
    max-width: 100%;
    text-decoration: none;
    color: white;
    font-size: x-large;
    text-align: left;
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    background-image: linear-gradient(to top, rgba(255,0,0,1),rgba(255,0,0,0));
 }