.wrapper{
    width: 100%;
    border: 0;
    margin: 0;
    position: relative;
}

.container{
    display: block;
    width: 100%;
    height: auto;
}

.container img{
    height: auto;
    max-width: 100%;
}

.descSlide {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    background-image: linear-gradient(to top, rgba(81,17,22,1), 75%, rgba(81,17,22,0));
}

.descSlide a {
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 100px;
    padding-bottom: 10px;
    text-decoration: none;
    color: white;
    font-size: 5vw;
    font-weight: bold;
    text-align: left;
    overflow: hidden;
    border-bottom: 3px solid rgb(215,58,21);
 }

.autorCard{
    display: block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    color: white;
}

.arrowLeft, .arrowRight {
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

.arrowRight{
    right: 0;
    border-radius: 3px 0 0 3px;
}
