.wrapper{
    width: 100%;
}

.nav {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-content: space-evenly;
    align-items: center;
    padding: 10px;

}

.navButton img{
    height: auto;
    max-width: 33px;
    cursor: pointer;
}

.mainLogo img{
    height: auto;
    max-width: 33px;
    padding-top: 4px;
}

.searchBar {
    display: flex;
    flex: 1;
    flex-flow: row-reverse nowrap;
    border: 1px solid grey;
}

.searchBarFocus {
    outline-offset: 2px;
    outline-color: grey;
    outline-style:dotted;
    outline-width: 2px;
}

input{
    all: unset;
    padding-left: 10px;
    width: 100%;
}

input:focus{
    outline: none;
}

button {
    all: unset;
    padding-right: 5px;
    cursor: pointer;
}

button img {
    height: auto;
    max-width: 25px;
    padding: 2px;
}