.wrapper{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.nav {
    flex: 1;
    display: flex;
    flex-flow: row nowrap;
    align-content: space-evenly;
    align-items: center;
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;

}

.navButton img{
    height: auto;
    max-width: 33px;
    cursor: pointer;
}

.mainLogo{
    margin-left: 10px;
    padding-top: 4px;
}

.mainLogo img{
    height: auto;
    max-width: 33px;
}

.searchBar {
    display: flex;
    flex: 1;
    flex-flow: row-reverse nowrap;
    margin-left: 50px;
    border: 1px solid grey;
}

.searchBarFocus {
    outline-offset: 2px;
    outline-color: grey;
    outline-style:dotted;
    outline-width: 2px;
}

input{
    all: unset;
    padding-left: 10px;
    width: 100%;
}

input:focus{
    outline: none;
}

button {
    all: unset;
    padding-right: 5px;
    cursor: pointer;
}

button img {
    height: auto;
    max-width: 25px;
    padding: 2px;
}

@media only screen and (min-width: 800px){
    .navButton {
        display: none;
    }
    .mainLogo{
        padding-top: 6px;
    }
    .mainLogo img{
        max-width: 45px;
    }
    button img {
        max-width: 33px;
    }
    .searchBar{
        margin-left: 200px;
    }
}  

@media only screen and (min-width: 1024px){
    .searchBar{
        margin-left: 400px;
    }
}