.wrapper{
    width: 100%;
    background-color: white;
    cursor: pointer;
}

.imgContainer{
    max-width: 800px;
    height: auto;
}

img{
    width: 100%;
    height: auto;
}

.info{
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
}

p, h4{
    padding-top: 10px;
}

p{
    flex:5;
    line-height: 1.5;
}

.autorCard{
    padding: 10px;
}

@media only screen and (max-width: 800px){
    
}


@media only screen and (min-width: 800px){


}  

@media only screen and (min-width: 1024px){
    
}