.wrapper{
    width: 100%;
    height: 100%;
    margin: 0;
    bottom: 0;
    display: flex;
    flex-flow: column nowrap;
    background-color: white;
    cursor: pointer;
}

.imgContainer{
    max-width: 800px;
    height: auto;
    flex: 1;
    border: 5px solid white;
}

img{
    width: 100%;
    height: auto;
}

.info{
    padding: 15px;
    display: flex;
    flex-flow: column wrap;
}

p, h4{
    padding-top: 10px;
}

p{
    flex:1;
    line-height: 1.5;
}

.autorContainer{
    padding: 10px;
    flex: 35px;
    display: flex;
}

.autorCard{
    width: 100%;
    align-self: flex-end;
}

@media only screen and (max-width: 800px){
    
}


@media only screen and (min-width: 800px){
    
}  

@media only screen and (min-width: 1024px){
    
}