.wrapper{
    display: flex;
    flex-flow: column nowrap;
    margin-left:10px;
    margin-right: 10px;
    background-color: white;
    cursor: pointer;
}

.imgContainer{
    width: 100%;
    height: auto;
}

img{
    max-width: 100%;
    height: auto;
}

.info{
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
}

p, h4{
    padding-top: 10px;
}

p{
    flex:5;
    line-height: 1.5;
}
