.wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 15px;
}

a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    background: white;
}

img{
    width: 25px;
    height: auto;
}

@media only screen and (max-width: 800px){
    
}


@media only screen and (min-width: 800px){


}  

@media only screen and (min-width: 1024px){
    
}