*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
}

#wrapper{
    display: flex;
    flex-flow: column wrap;
    row-gap: 5px;
    margin: auto;
    width: 95%;
}

header, section, aside, article, footer{
    width: 100%;
    position: relative;
}
