*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper{
    max-width: 100%;
    background-color: rgb(249,239,236);
    text-size-adjust: 100%;
    opacity: 0;
    transition: opacity 0.25s;
}

header, section, aside, article, footer{
    max-width: 100%;
}

.sticky{
    width: 100%;
    z-index: 1;
    position: fixed;
    top: 0;
}


@media only screen and (min-width: 800px){
    #wrapper, header, section, aside, article, footer{
        max-width: 800px;
    }
}  

@media only screen and (min-width: 1024px){
    #wrapper, header, section, aside, article, footer{
        max-width: 1024px;
    }
}
