.wrapper{
    width: 100%;
    background-color: rgb(60, 60, 60);
    color: white;
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

a{
    all: unset;
    cursor: pointer;
    font-size: 10px;
    text-transform: uppercase;
    padding-right: 15px;
    padding-left: 15px;
}
